//form-cart
.form-cart
  .panel.panel-default
    .panel-heading
      h3.panel-title 
        i.fa.fa-shopping-cart(aria-hidden='true')
        | GIỎ HÀNG
    |   
    .panel-body
      .form-cart-1
        h4 Chuyến đi
        .form-trip-1
          .form-part.form-part-1
            span SGN
            span HỒ CHÍ MINH
            
          .form-part.form-part-2
            i.fa.fa-fighter-jet(aria-hidden='true')
              
          .form-part.form-part-3
            span TBB
            span PHÚ YÊN
        |
        |  
        .form-trip-2
          .form-date
            .form-date-wrap
              p
                i.fa.fa-clock-o(aria-hidden='true')
                span 06:50
                
              p Thứ 7, Ngày 04/10/2017
            |
            |  
            .form-date-wrap
              p
                i.fa.fa-clock-o(aria-hidden='true')
                span 08:05
                
              p Thứ 7, Ngày 04/10/2017
          |
          |
          .form-trip-3
            p
              img(src="assets/img/logo-vietjet.png", alt="")
              span Vietjet Air
              
            p 
              i.fa.fa-fighter-jet(aria-hidden='true')
              span VJ206
      |
      |
      .form-cart-2
        h4 Tóm tắt giá vé
        |
        |
        table.table
          thead
            tr
              th Người lớn
              |         
              th Tổng
          |     
          tbody
            tr
              td 1x 
                strong.text-color1 1,900,000 VNĐ
                | / 1 vé
              |         
              td
                strong.text-color1 1,900,000 VND
      |
      |        
      .form-cart-3
        .form-cart-3-wrap
          span.total Total:
          .span-wrap
            span 1,900,000 VND
            span Giá đã bao gồm thuế và phí
            
    a.btn.btn-accent-1(href="#") 
      | TIẾP TỤC
      i.fa.fa-long-arrow-right(aria-hidden='true')
          
                  
              
            
