.wrap-carousel
  .prev-btn
    span: i.fa.fa-long-arrow-left(aria-hidden='true')
    span 7 ngày trước
  |  
  |  
  .owl-carousel.owl-theme.carousel-1
    
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
        
    .item
      .wrap-item
        p T7
        p 04/10/17
        p 1,900,000
  |
  |
  .next-btn
    span: i.fa.fa-long-arrow-right(aria-hidden='true')
    span 7 ngày trước

      
