.booking-detail-form
  .booking-detail-form-info
    .sec-all.sec1
      img(src="assets/img/logo-vietjet.png", alt="")
    |
    |
    .sec-all.sec2
      p HỒ CHÍ MINH
      p.text-color1 06:15    
    |
    |
    .sec-all.sec3
      p PHÚ YÊN
      p.text-color1 07:15
    |
    |
    .sec-all.sec4
      span
        i.fa.fa-fighter-jet(aria-hidden='true')
        | VJ206
    |
    |
    .sec-all.sec5
      p Chuyến bay thẳng
      a.btn
        | Chi tiết
        i.fa.fa-caret-down(aria-hidden='true')
    |
    |
    .sec-all.sec6
      p 1,900,000 VND
    |
    |
    .sec-all.sec7.radio-style-2
      input#choose(type='radio', name='radio-group' value="")
      label(for='choose') Chọn
  |
  |
  .booking-detail-content
    .booking-detail-content-info
      .detail.detail-1
        img(src="assets/img/logo-vietjet.png", alt="")
        p Vietjet Air 
      |
      |  
      .detail.detail-2
        p HỒ CHÍ MINH
        p Sân bay Tân Sơn Nhất
        p Sân bay Tân Sơn Nhất
      |
      |
      .detail.detail-3
        p
          span Chuyến bay:
          span VJ206
        p
          i.fa.fa-fighter-jet(aria-hidden='true')
        p
          span Thời gian bay:
          span 1h 00 p
      |
      |
      .detail.detail-4
        p PHÚ YÊN
        p Sân bay Tuy Hòa
        p 07:15  4/10/17
      |
      |
      .detail.detail-5
        p
          span Hạng:
          span Phổ thông
        p
          span Máy bay:
          span Airbus Sharklet A320
    |
    |
    .booking-detail-content-table
      table.table
        thead
          tr
            th Điều kiện hành lý
        |     
        tbody
          tr
            td Hành lý xách tay:
            |         
            td 07KG
          |       
          tr
            td Hành lý ký gửi:
            |         
            td Vui lòng chọn ở bước sau.
            
        thead.thead2
          tr
            th Điều kiện về vé
            
        tbody
          tr
            td Hoàn vé:
            |         
            td Không được phép.
          |       
          tr
            td Đổi tên hành khách:
            |         
            td Được phép - Thu phí: 352,000 VND. (Trừ giá PROMO)
          |  
          tr
            td Đổi hành trình:
            |         
            td Được phép - Thu phí: 352.000 VND + Giá vé chênh lệch (nếu có).
          |       
          tr
            td Đổi ngày giờ chuyến bay:
            |         
            td Được phép - Thu phí: 352.000 VND + Giá vé chênh lệch (nếu có).
          tr
            td Thời hạn thay đổi (bao gồm thay đổi tên, ngày/chuyến bay):
            |         
            td Trước giờ khởi hành 12 tiếng.
    |
    |
    .booking-detail-content-price
      .price-all.price-1
        p Hành khách
        p Người lớn
      |
      |
      .price-all.price-2
        p Số lượng
        p 01
      |
      |
      .price-all.price-3 
        p Giá vé
        p 1,300,000 VND
      |
      |
      .price-all.price-4
        p Thuế và phí
        p 600,000 VND
      |
      |
      .price-all.price-5
        p Tổng giá
        p 1,900,000 VND
    |
    |
    .booking-detail-content-total
      p
        | Tổng chi phí:
        span 1,900,000 VND
  |
  |
  .booking-detail-more
    a.btn.btn-accent-1(href="#") 
      | TIẾP TỤC
      i.fa.fa-long-arrow-right(aria-hidden='true')

    
