include jadefiles/global/head.jade
|
|
body.booking-step2-page
  |
  |
  .booking-wrap
    .container
      .row
        .col-md-4
          include jadefiles/booking-detail-sidebar-1.jade
        |
        |  
        .col-md-8
          include jadefiles/booking-form-detail.jade
          
  |        
  |
  |      
  div(style="height: 1000px")  
  |
  |
  include jadefiles/global/footer.jade
