include jadefiles/global/head.jade
|
|
body.booking-detail-page
  |
  |
  .booking-wrap
    include jadefiles/form-booking-detail.jade
    |
    |
    .container
      .row
        .booking-detail-wrap
          .col-md-4
            include jadefiles/booking-detail-sidebar.jade
          |
          |  
          .col-md-8
            include jadefiles/booking-detail-carousel.jade
            include jadefiles/booking-detail-form.jade
  |        
  |
  |      
  div(style="height: 1000px")  
  |
  |
  include jadefiles/global/footer.jade
