include jadefiles/global/head.jade
|
|
body.index-page
  |
  |
  .booking-wrap
    include jadefiles/form-desktop.jade
    |
    |
    include jadefiles/form-mobile.jade
  |        
  |
  |      
  div(style="height: 1000px")  
  |
  |
  include jadefiles/global/footer.jade
