.wrap-carousel {
  display: flex;
  justify-content: space-between;
}

.prev-btn, .next-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97px !important;
  border: 1px solid $panel-bg;
  text-align: center;
  color: $text-color;
  font-weight: 500;
  cursor: pointer;

  i {
    color: $panel-bg;
    font-size: 22px;
  }
}

.carousel-1 {
  width: 556px !important;

  .owl-stage-outer {
    border: 1px solid $panel-bg;
  }

  .item, .owl-item {
    width: 80px !important;
    cursor: pointer;
  }

  .wrap-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: $text-color;
    font-weight: 500;
    padding: 10px 0;
    transition: all .2s ease-in-out;

    &:hover {
      background: $panel-bg;

      p {
        color: $white-color !important;
      }
    }

    p:last-child {
      color: $text-color1;
    }
  }
}

.choose-item {
  background-color: $panel-bg;

  p {
    color: $white-color !important;
  }
}
