$accent-color: #d93c3c;
$accent-color1: #09A8FA;
$accent-color2: #ef5018;
$accent-color3: #f5f5f5;
$white-color: #ffffff;
$panel-bg: #006bdc;
$panel-body-bg: #fbfbfb;

$text-color: #696969;
$text-color1: #f43e3e;
$text-color2: #05486b;
